/* dashboard CSS */

.navbar-sett {
    background-color: #ffff;
    /* box-shadow: 1px 10px 48px -8px rgba(115,115,115,.3);
-webkit-box-shadow: 1px 10px 48px -8px rgba(115,115,115,.3);
-moz-box-shadow: 1px 10px 48px -8px rgba(115,115,115,.3); */
}

#borderRmv {
    border: none;
    padding: 1rem 1.5rem .5rem 1.5rem;
}

#removePadding {
    margin-top: 1.5rem;
}

.border-card {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 12px;
    border-left: 7px solid #008FFB;
}

.card-title-chart {
    font-size: 1rem;
    font-weight: 700;
}

.chart-area {
    border-radius: 12px;
}

.grouping {
    margin-top: 3rem;
}

#broken1 {
    padding-left: 0;
    padding-right: 0;
}

.header-card-wrapper {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
}

.switch-btn {
    background-color: #008FFB;
    padding: .3rem .4rem;
    border-radius: 27px;
}

.line-btn {
    width: 80px;
    height: 26px;
    border-radius: 12px;
    font-size: 12px;
    text-align: center;
    color: #ffff;
    font-weight: 500;
    /* margin-bottom: 1rem; */
}

.chart-active {
    color: #008FFB;
    background-color: #F7F8FC;
}

.month-btn {
    margin-right: .5rem;
}

.carousel-inner {
    padding-top: 1.2rem;
}

.today-forecast {
    top: 20px;
}

.map-status-wrap {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

/* end of dashboard CSS */
/* SES CSS */
.badge-item__title {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.badge-item {
    border-radius: 17px;
}

.ses-global-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 15%;
    transform: translateX(100%);
    width: 30px;
    height: 70px;
    background-color: #008FFB;
    border-radius: 17px;
    padding: 6px 4px;

}

.ses-province-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 46%;
    transform: translateX(100%);
    width: 30px;
    height: 70px;
    background-color: #008FFB;
    border-radius: 17px;
    padding: 6px 4px;
}

.ses-global-month-btn, .ses-global-year-btn, .ses-province-month-btn, .ses-province-year-btn {
    width: 100%;
    height: 30px;
    border-radius: 17px;
    font-size: 14px;
    font-weight: 500;
    color: #F7F8FC;
}

.ses-global-active {
    background-color: #F7F8FC;
    color: #008FFB;
}

.animate {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.global-table{
    width: 100%;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-75%);
        transform: translateY(-75%);
        visibility: visible;
        z-index: -99999999999999999999;
    }
    70% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-30%);
        visibility: visible;
        z-index: 1;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        z-index: 1;
    }
}
@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        visibility: visible;
        z-index: -999999999;
    }
    70% {
        -webkit-transform: translateY(-7%);
        transform: translateY(-7%);
        visibility: visible;
        z-index: 1;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        z-index: 1;
    }
} 


/* End of SES CSS */


.minCovid {
    background-color: #65C18C;
}

.midCovid {
    background-color: #f85262e6;
}

.maxCovid {
    background-color: #DA1212;
}

.minCovidTab {
    background-color: #C06C84;
}

.midCovidTab {
    background-color: #6C5B7B;
}

.maxCovidTab {
    background-color: #355C7D;
}